{% extends 'MaklarresursAdminBundle::layout.html.twig' %}

{% block title %}Dashboard{% endblock %}



{% block body %}
    <h3 class="box-header">DASHBOARD</h3>
    <div class="box">
        <div class="row-fluid" style="margin-bottom: 20px">
            <a href="{{ path('admin_user_create') }}" class="btn btn-blue quick-btn span2">
                <i class="icon-edit"></i>
                <span class="quick-btn-title">Create <br> User</span>
            </a>
            <a href="{{ path('admin_user') }}" class="btn btn-cyan quick-btn span2">
                <i class="icon-table"></i>
                <span class="quick-btn-title">View <br> Users</span>
            </a>
            <a href="{{ path('sample_order') }}" class="btn btn-blue quick-btn span2">
                <i class="icon-edit"></i>
                <span class="quick-btn-title">Create <br> Address</span>
            </a>
            <a href="#" class="btn btn-cyan quick-btn span2">
                <i class="icon-table"></i>
                <span class="quick-btn-title">View <br> Address</span>
            </a>
            <a href="{{ path('admin_orders_lappning') }}" class="btn btn-blue quick-btn span2">
                <i class="icon-edit"></i>
                <span class="quick-btn-title">Lappning <br> &nbsp;</span>
            </a>
            <a href="{{ path('admin_orders_boka') }}" class="btn btn-cyan quick-btn span2">
                <i class="icon-table"></i>
                <span class="quick-btn-title">Boka <br> visningsvärd</span>
            </a>
        </div>

    </div>
    <h3 class="box-header">inställningar</h3>
    <div class="box">
        <div class="row-fluid" style="margin-bottom: 20px">
            <a href="#" class="btn  quick-btn span2">
                <i class="icon-user"></i>
                <span class="quick-btn-title">VISA <br> PROFIL </span>
            </a>
            <a href="#" class="btn btn-green quick-btn span2">
                <i class="icon-wrench"></i>
                <span class="quick-btn-title">EDITERA <br> PROFIL </span>
            </a>
            <a href="#" class="btn btn-orange quick-btn span2">
                <i class="icon-key"></i>
                <span class="quick-btn-title">Byt <br> lösenord</span>
            </a>
            <a href="#" class="btn btn-orange quick-btn span2">
                <i class="icon-picture"></i>
                <span class="quick-btn-title">Uppdatera <br> profilbild</span>
            </a>
            <a href="{{ path('fos_user_security_logout') }}" class="btn btn-red quick-btn span2">
                <i class="icon-lock"></i>
                <span class="quick-btn-title">logga ut <br> &nbsp;</span>
            </a>


        </div>

    </div>

{% endblock %}