{% extends 'MaklarresursUserBundle::layout.html.twig' %}
{% set pageClass = 'customer' %}

{% block title %}Dashboard{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/maklarresursadmin/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/maklarresursadmin/css/font-awesome.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/maklarresursadmin/css/jquery-ui.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/maklarresursadmin/css/icheck/flat/blue.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/maklarresursadmin/css/select2.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/maklarresursadmin/css/unicorn.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/maklarresursadmin/css/unicorn.blue.css') }}" class="skin-color" />

    <style>
        .form-horizontal .control-label {
            padding-top: 10px;
        }
    </style>
{% endblock %}


{% block body %}
    <div id="content">
        <div id="content-header">
            <h1>LAPPNING</h1>
        </div>
        <div id="breadcrumb">
            <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
            <a href="#" class="current">Creating Order</a>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon">
                            <i class="icon-align-justify"></i>
                        </span>
                        <h5>Creating Order</h5>
                    </div>
                    <div class="widget-content nopadding">

                        <form class="form-horizontal" method="post" action="{{ path('sample_order_create') }}">


                            <div class="form-group">
                                <label class="control-label">Select Paper Size : </label>
                                <div class="controls">
                                    <select name="paper_size" required="">
                                        <option>200g</option>
                                        <option>150g</option>
                                        <option>250g</option>
                                        <option>300g</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Select Address Type: </label>
                                <div class="controls">
                                    <select name="address_type" required="">
                                        <option></option>
                                        <option>Adresserat</option>
                                        <option>Oadresserat</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Flyers : </label>
                                <div class="controls">
                                    <b id="flyers_view">0</b> st
                                    <input type="hidden" name="flyers" id="flyers" value="0">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Type Address : </label>
                                <div class="controls">
                                    <textarea name="address" id="address" style="height: 60px; width: 300px;"></textarea>
                                    <input type="hidden" name="addresses" id="addresses" value="">
                                    <a id="add" class="btn btn-dark-red">Add</a>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label"></label>
                                <div class="controls">
                                    <table class="table table-bordered table-striped table-hover " style="width: 70%;">
                                        <tbody id="address_list">

                                        </tbody>
                                    </table>
                                </div>
                            </div>



                            <div class="form-actions">
                                <input type="submit" value="NEXT" class="btn btn-dark-red">
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <!-- ***************** - JavaScript Starts Here - ***************** -->
    <script src="{{ asset('bundles/maklarresursadmin/js/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/maklarresursadmin/js/jquery-ui.custom.js') }}"></script>
    <script src="{{ asset('bundles/maklarresursadmin/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/maklarresursadmin/js/jquery.icheck.min.js') }}"></script>
    <script src="{{ asset('bundles/maklarresursadmin/js/select2.min.js') }}"></script>
    <script src="{{ asset('bundles/maklarresursadmin/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('bundles/maklarresursadmin/js/jquery.jpanelmenu.min.js') }}"></script>
    <script src="{{ asset('bundles/maklarresursadmin/js/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ asset('bundles/maklarresursadmin/js/unicorn.js') }}"></script>
    <script src="{{ asset('bundles/maklarresursadmin/js/unicorn.tables.js') }}"></script>


    <script type="text/javascript">
        jQuery(document).ready(function(jQuery) {
            jQuery('#add').click(function(){
                var address = jQuery("#address").val();
                if(address == '' || address == null){
                    alert('please type a address');
                    return 0;
                }
                var flyers = jQuery("#flyers").val();
                jQuery("#flyers").val(parseInt(flyers)+1);
                jQuery("#flyers_view").html(parseInt(flyers)+1);
                jQuery("#addresses").val(jQuery("#addresses").val() + " | " + address);

                $( "#address_list" ).prepend( $('<tr class="gradeA item" id="'+flyers+'"><td>'+ address +'</td></tr>') );
                jQuery("#address").val('');

            });

            jQuery('.row_delete').click(function(jQuery){
                alert('lol');
                return 0;
                var the_id = jQuery(this).attr("id");
                var data = "id="+the_id;
                var total = jQuery("#total").text();
                jQuery('.item#'+the_id).hide('slow'); //DELETES ITEMS HERE


            });
        });

    </script>

    <script type="text/javascript">
        jQuery(document).ready(function(jQuery) {

            jQuery('.row_delete').click(function(){
                alert('lol');
                return 0;
                var the_id = jQuery(this).attr("id");
                var data = "id="+the_id;
                var total = jQuery("#total").text();
                jQuery('.item#'+the_id).hide('slow'); //DELETES ITEMS HERE


            });
        });

    </script>


{% endblock %}