{% extends 'MaklarresursUserBundle::layout.html.twig' %}

{% block title %}Dashboard{% endblock %}



{% block body %}

    <style type="text/css">
        #theme_switcher {
            display: none;
        }

        .quick-btn i {
            /*font-size: 50px;*/
        }
        .quick-btn {
            /*font-size: 17px;*/
            font-weight: bold;
        }
    </style>
    <h3 class="box-header">LAPPNING</h3>
    <div class="box">
        <div class="row-fluid" style="margin-bottom: 20px">
            <form class="form-horizontal" method="post" action="{{ path('user_sample_order_confirmation', {'id': entity.id}) }}">

                <h3>Overview</h3>
                <table class="table table-hover" >
                    <tbody>
                    <tr>
                        <th>Flyers</th>
                        <td>Total {{ entity.flyers }} st</td>
                    </tr>
                    <tr>
                        <th>Paper Size</th>
                        <td>{{ entity.paperSize }}</td>
                    </tr>
                    <tr>
                        <th>Address Type</th>
                        <td>{{ entity.addressType }}</td>
                    </tr>
                    <tr>
                        <th>Total Price</th>
                        <td> {{ entity.price }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><button type="submit" class="btn btn-primary">CONFIRM</button></td>
                    </tr>
                    </tbody>
                </table>

        </div>

    </div>



{% endblock %}

