{% extends 'MaklarresursAdminBundle::layout.html.twig' %}
{% set pageClass = 'customer' %}

{% block title %}Home{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/mrfmadmin/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/mrfmadmin/css/font-awesome.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/mrfmadmin/css/icheck/flat/blue.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/mrfmadmin/css/select2.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/mrfmadmin/css/unicorn.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/mrfmadmin/css/unicorn.blue.css') }}" class="skin-color" />

{% endblock %}


{% block body %}

    <div id="content">
        <div id="content-header">
            <h1>Customer Management</h1>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon">
                            <i class="icon-align-justify"></i>
                        </span>
                        <h5>Edit Customer</h5>
                    </div>
                    <div class="widget-content nopadding">

                        {{ form_start(edit_form, {'attr': {'class': 'form-horizontal'}}) }}
                        <div class="form-group">
                            <label class="control-label">{{ form_label(edit_form.companyName) }}</label>
                            <div class="controls">
                                {{ form_widget(edit_form.companyName, {'attr': {'placeholder': 'Enter Company Name ', 'class': 'form-control input-sm'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">{{ form_label(edit_form.orgNr) }}</label>
                            <div class="controls">
                                {{ form_widget(edit_form.orgNr, {'attr': {'placeholder': 'Enter Org Nr ', 'class': 'form-control input-sm'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">{{ form_label(edit_form.streetAddress) }}</label>
                            <div class="controls">
                                {{ form_widget(edit_form.streetAddress, {'attr': {'placeholder': 'Enter Street Address', 'class': 'form-control input-sm'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">{{ form_label(edit_form.billingAddress) }}</label>
                            <div class="controls">
                                {{ form_widget(edit_form.billingAddress, {'attr': {'placeholder': 'Enter Billing Address ', 'class': 'form-control input-sm'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">{{ form_label(edit_form.contactPerson) }}</label>
                            <div class="controls">
                                {{ form_widget(edit_form.contactPerson, {'attr': {'placeholder': 'Enter Contact Person ', 'class': 'form-control input-sm'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">{{ form_label(edit_form.telephoneNr) }}</label>
                            <div class="controls">
                                {{ form_widget(edit_form.telephoneNr, {'attr': {'placeholder': 'Enter Telephone Nr ', 'class': 'form-control input-sm'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">{{ form_label(edit_form.website) }}</label>
                            <div class="controls">
                                {{ form_widget(edit_form.website, {'attr': {'placeholder': 'Enter Website URL ', 'class': 'form-control input-sm'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Email</label>
                            <div class="controls">
                                {{ form_widget(edit_form.email, {'attr': {'placeholder': 'Enter Valid Email ', 'class': 'form-control input-sm'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Username</label>
                            <div class="controls">
                                {{ form_widget(edit_form.username, {'attr': {'placeholder': 'Enter Username ', 'class': 'form-control input-sm'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Password</label>
                            <div class="controls">
                                {{ form_widget(edit_form.plainPassword.first, {'attr': {'placeholder': 'Enter Password ', 'class': 'form-control input-sm'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Confirm Password</label>
                            <div class="controls">
                                {{ form_widget(edit_form.plainPassword.second, {'attr': {'placeholder': 'Re-Type Password ', 'class': 'form-control input-sm'}}) }}
                            </div>
                        </div>
                        <div class="form-actions">
                            <input type="submit" value="CREATE" class="btn btn-primary">
                        </div>

                        {{ form_end(edit_form) }}
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block javascripts %}
    <!-- ***************** - JavaScript Starts Here - ***************** -->

    <script src="{{ asset('bundles/mrfmadmin/js/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/mrfmadmin/js/jquery-ui.custom.js') }}"></script>
    <script src="{{ asset('bundles/mrfmadmin/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/mrfmadmin/js/jquery.icheck.min.js') }}"></script>
    <script src="{{ asset('bundles/mrfmadmin/js/select2.min.js') }}"></script>
    <script src="{{ asset('bundles/mrfmadmin/js/jquery.jpanelmenu.min.js') }}"></script>
    <script src="{{ asset('bundles/mrfmadmin/js/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ asset('bundles/mrfmadmin/js/unicorn.js') }}"></script>
    <script src="{{ asset('bundles/mrfmadmin/js/jquery.validate.js') }}"></script>
    <script src="{{ asset('bundles/mrfmadmin/js/unicorn.form_validation.js') }}"></script>


{% endblock %}