{% extends 'MaklarresursAppBundle::layout.html.twig' %}
{% set pageClass = 'home' %}

{% block title %}Home{% endblock %}


{% block body %}

    <style>
        input{
            border: 1px solid #ccc;
            height: 15px;
            padding: 5px;
            border-radius: 3px;
        }
        input[type=submit]{
            height: 25px;
        }
    </style>

    <!-- ***************** - Main Content Area - ***************** -->
    <div id="main" class="tt-slider-karma-custom-jquery-1">
        <div class="main-area">
            <div class="spbox3" style="margin: 0 auto; width: 50%; height: auto; background: #ffffff; border: 1px solid #cccccc; border-radius: 5px; padding: 15px;">
                <h1> Login Here</h1>

            <form action="{{ path("_login_check") }}" method="post">
                <div class="form clear">
                    {% if(_redir is defined) %}
                        <input type="hidden" name="_redir" value="{{_redir}}" />
                    {% endif %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    {% if error %}
                        <div style="color:red; text-align: center">{{ error }}</div>
                    {% endif %}

                    <table>
                        <tr>
                            <td>Username :</td>
                            <td><input type="text" id="username" name="_username"  required="required" ></td>
                        </tr>
                        <tr>
                            <td>Password :</td>
                            <td><input type="password" id="password" name="_password"  required="required" ></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td><input type="checkbox" id="remember_me" name="_remember_me" value="on" checked="checked" > Remember me</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td><input type="submit" placeholder="" value="Sign in"/></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><a href="{{ path('fos_user_resetting_request') }}" style="color: #01BAEB;">Forget your password ?</a></td>
                        </tr>
                    </table>





                </div>
                <!-- /col-md-3 -->
            </form>
            </div>

        </div><!-- END main-area -->

        <div id="footer-top">&nbsp;</div>
    </div><!-- END main -->


{% endblock %}