{% extends 'MaklarresursUserBundle::layout.html.twig' %}
{% set pageClass = 'customer' %}

{% block title %}Dashboard{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/maklarresursadmin/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/maklarresursadmin/css/font-awesome.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/maklarresursadmin/css/jquery-ui.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/maklarresursadmin/css/icheck/flat/blue.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/maklarresursadmin/css/select2.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/maklarresursadmin/css/unicorn.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/maklarresursadmin/css/unicorn.red.css') }}" class="skin-color" />

{% endblock %}


{% block body %}
    <div id="content">
        <div id="content-header">
            <h1>Your order has been confirmed. Thank you. </h1>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <!-- ***************** - JavaScript Starts Here - ***************** -->
    <script src="{{ asset('bundles/maklarresursadmin/js/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/maklarresursadmin/js/jquery-ui.custom.js') }}"></script>
    <script src="{{ asset('bundles/maklarresursadmin/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/maklarresursadmin/js/jquery.icheck.min.js') }}"></script>
    <script src="{{ asset('bundles/maklarresursadmin/js/select2.min.js') }}"></script>
    <script src="{{ asset('bundles/maklarresursadmin/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('bundles/maklarresursadmin/js/jquery.jpanelmenu.min.js') }}"></script>
    <script src="{{ asset('bundles/maklarresursadmin/js/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ asset('bundles/maklarresursadmin/js/unicorn.js') }}"></script>
    <script src="{{ asset('bundles/maklarresursadmin/js/unicorn.tables.js') }}"></script>


{% endblock %}