{% extends 'MaklarresursUserBundle::layout.html.twig' %}

{% block title %}Dashboard{% endblock %}



{% block body %}
    <h3 class="box-header">Boka Visningsvärd</h3>
    <div class="box">
        <div class="row-fluid" style="margin-bottom: 20px">
            <form class="form-horizontal" method="post" action="{{ path('user_boka_visningsvard_order_update', {'id': entity.id} ) }}">
                <div class="form-group">
                    <label class="control-label">Booking Time : </label>
                    <div class="controls">
                        <input value="{{ entity.startDate }}" type="text" class="input-small datepicker" id="dpd1" name="startDate" data-date-format="dd/mm/yyyy" placeholder="Start Date" required="">

                        <div class="input-append bootstrap-timepicker">
                            <input value="{{ entity.startTime }}" id="timepickerz" class="input-small timepicker" type="text" name="startTime" placeholder="Start Time" required="">
                            <span class="add-on"><i class="icon-time"></i></span>
                        </div> to
                        <div class="input-append bootstrap-timepicker">
                            <input {{ entity.endTime }} id="timepicker-default" class="input-small timepicker" type="text" name="endTime" placeholder="End Time" required="">
                            <span class="add-on"><i class="icon-time"></i></span>
                        </div>

                        <input value="{{ entity.endDate }}" type="text" class="input-small datepicker" id="dpd2" name="endDate" data-date-format="dd/mm/yyyy" placeholder="End Date" required="">

                    </div>
                </div> <br>

                <div class="form-group">
                    <label class="control-label">Address : </label>
                    <div class="controls">
                        <textarea name="address" required="" style="width: 480px;">{{ entity.address }}</textarea>
                    </div>
                </div> <br>
                <div class="form-group">
                    <label class="control-label">Note : </label>
                    <div class="controls">
                        <textarea name="note" required="" style="width: 480px;">{{ entity.note }}</textarea>
                    </div>
                </div>



                <div class="form-actions">
                    <input type="submit" value="EDIT" class="btn btn-primary">
                </div>


            </form>

            <script>

                jQuery(function($){
                    /* Bootstrap-datepicker
                     ================================================== */
//                    $(".datepicker").datepicker();

                    var nowTemp = new Date();
                    var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);

                    var checkin = $('#dpd1').datepicker({
                        onRender: function(date) {
                            return date.valueOf() < now.valueOf() ? 'disabled' : '';
                        }
                    }).on('changeDate', function(ev) {
                        if (ev.date.valueOf() > checkout.date.valueOf()) {
                            var newDate = new Date(ev.date)
                            newDate.setDate(newDate.getDate());
                            checkout.setValue(newDate);
                        }
                        checkin.hide();
                        $('#dpd2')[0].focus();
                    }).data('datepicker');
                    var checkout = $('#dpd2').datepicker({
                        onRender: function(date) {
                            return date.valueOf() <= checkin.date.valueOf() ? 'disabled' : '';
                        }
                    }).on('changeDate', function(ev) {
                        checkout.hide();
                    }).data('datepicker');


                    /* Bootstrap-timepicker
                     ================================================== */
                    $('.timepicker').timepicker({
                        defaultTime: 'value'
                    });


                });

            </script>

        </div>

    </div>





{% endblock %}
