{% extends 'MaklarresursUserBundle::layout.html.twig' %}

{% block title %}Users{% endblock %}



{% block body %}

    <style type="text/css">
        #theme_switcher {
            display: none;
        }

        .quick-btn i {
            /*font-size: 50px;*/
        }
        .quick-btn {
            /*font-size: 17px;*/
            font-weight: bold;
        }
    </style>
    <h3 class="box-header">Boka Visningsvärd</h3>
    <div class="box">
        <div class="row-fluid" style="margin-bottom: 20px">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Address</th>
                        <th>Note</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                        <tr class="gradeA item" id="{{ entity.id }}">
                            <td>{{ entity.startDate }}</td>
                            <td>{{ entity.endDate }}</td>
                            <td>{{ entity.startTime }}</td>
                            <td>{{ entity.endTime }}</td>
                            <td>{{ entity.address }}</td>
                            <td>{{ entity.note }}</td>
                        </tr>

                    {% endfor %}
                </tbody>
            </table>

        </div>

    </div>



{% endblock %}

