{% extends 'MaklarresursUserBundle::layout.html.twig' %}
{% set pageClass = 'customer' %}

{% block title %}Dashboard{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/maklarresursadmin/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/maklarresursadmin/css/font-awesome.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/maklarresursadmin/css/jquery-ui.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/maklarresursadmin/css/icheck/flat/blue.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/maklarresursadmin/css/select2.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/maklarresursadmin/css/unicorn.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/maklarresursadmin/css/unicorn.blue.css') }}" class="skin-color" />

{% endblock %}


{% block body %}
    <div id="content">
        <div id="content-header">
            <h1>LAPPNING</h1>
        </div>
        <div id="breadcrumb">
            <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
            <a href="#" class="">Creating Order</a>
            <a href="#" class="">Vasastan</a>
            <a href="#" class="current">Addresses</a>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h3>Zone : Vasastan [ Total : <b style="color: green;" id="total">{{ total }}</b> addresses ]</h3>

                <form action="{{ path('user_extras') }}" method="get" style="float: right; margin-right: 50px;">
                    <input type="hidden" name="district" value="{% for d in districts %} {{ d }}, {% endfor %}">
                    <input type="hidden" name="flyers" id="flyers" value="{{ total }}">
                    <input type="submit" value="NEXT" class="btn btn-dark-red">
                </form>

                <div class="widget-box">

                    {% for i in loops..0 %}
                        {% set district = districts[i]-1 %}
                        <div class="widget-content nopadding">
                            <table class="table table-bordered table-striped table-hover ">
                                <thead>
                                    <tr>
                                        <th>
                                            <h5>District {{ district }} - [ {{ entities[i]|length }} addresses ] </h5>
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for entity in entities[i] %}
                                        <tr class="gradeA item" id="{{ entity.id }}">
                                            <td>{{ entity.name }}</td>
                                            <td><a style="cursor:pointer" class="row_delete" id="{{ entity.id }}">X</a></td>
                                        </tr>

                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <!-- ***************** - JavaScript Starts Here - ***************** -->
    <script src="{{ asset('bundles/maklarresursadmin/js/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/maklarresursadmin/js/jquery-ui.custom.js') }}"></script>
    <script src="{{ asset('bundles/maklarresursadmin/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/maklarresursadmin/js/jquery.icheck.min.js') }}"></script>
    <script src="{{ asset('bundles/maklarresursadmin/js/select2.min.js') }}"></script>
    <script src="{{ asset('bundles/maklarresursadmin/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('bundles/maklarresursadmin/js/jquery.jpanelmenu.min.js') }}"></script>
    <script src="{{ asset('bundles/maklarresursadmin/js/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ asset('bundles/maklarresursadmin/js/unicorn.js') }}"></script>
    <script src="{{ asset('bundles/maklarresursadmin/js/unicorn.tables.js') }}"></script>

    <script type="text/javascript">
        jQuery(document).ready(function(jQuery) {

            jQuery('.row_delete').click(function(){
                var the_id = jQuery(this).attr("id");
                var data = "id="+the_id;
                var total = jQuery("#total").text();
                jQuery('.item#'+the_id).hide('slow'); //DELETES ITEMS HERE
                jQuery("#total").empty();
                total = parseInt(total) - 1;
                jQuery("#total").text(total);
                jQuery("#flyers").val(total);
                //DELETES THE ITEMS ONE AT A TIME
                {#jQuery.ajax({#}
                    {#type: "POST",#}
                    {#url: "{{ path('order_address_delete') }}",#}
                    {#data: data,#}
                    {#success: function(data){#}
                        {#if(data = 'success'){#}
                            {#jQuery('.item#'+the_id).hide('slow'); //DELETES ITEMS HERE#}
                            {#jQuery("#total").empty();#}
                            {#total = parseInt(total) - 1;#}
                            {#jQuery("#total").text(total);#}
                            {#jQuery("#flyers").val(total);#}
                        {#}#}
                        {#else{#}
                            {#hudMsg('error', 'Failed!', 3000);#}
                        {#}#}

                    {#}#}
                {#});#}
            });
        });

    </script>





{% endblock %}