{% extends 'MaklarresursUserBundle::layout.html.twig' %}
{% set pageClass = 'customer' %}

{% block title %}Dashboard{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/mrfmadmin/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/mrfmadmin/css/font-awesome.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/mrfmadmin/css/jquery-ui.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/mrfmadmin/css/icheck/flat/blue.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/mrfmadmin/css/select2.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/mrfmadmin/css/unicorn.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/mrfmadmin/css/unicorn.red.css') }}" class="skin-color" />

    <style>
        .form-horizontal .control-label {
            padding-top: 10px;
        }
    </style>

{% endblock %}


{% block body %}
    <div id="content">
        <div id="content-header">
            <h1>LAPPNING</h1>
        </div>
        <div id="breadcrumb">
            <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
            <a href="#" class="">Creating Order</a>
            <a href="#" class="current">Overview</a>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon">
                            <i class="icon-align-justify"></i>
                        </span>
                        <h5>Overview</h5>
                    </div>
                    <div class="widget-content nopadding">

                        <form class="form-horizontal" method="post" action="{{ path('user_lappning_order_confirmation', {'id': entity.id}) }}">
                            <div class="form-group">
                                <label class="control-label">Zone : </label>
                                <div class="controls">
                                    {{ entity.zone }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Districts : </label>
                                <div class="controls">
                                    {{ entity.districts }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Flyers : </label>
                                <div class="controls">
                                    Total {{ entity.flyers }}st
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Paper Size : </label>
                                <div class="controls">
                                    {{ entity.paperSize }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Address Type: </label>
                                <div class="controls">
                                    {{ entity.addressType }}
                                </div>
                            </div>


                            <div class="form-actions">
                                <input type="submit" value="CONFIRM" class="btn btn-dark-red">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <!-- ***************** - JavaScript Starts Here - ***************** -->
    <script src="{{ asset('bundles/mrfmadmin/js/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/mrfmadmin/js/jquery-ui.custom.js') }}"></script>
    <script src="{{ asset('bundles/mrfmadmin/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/mrfmadmin/js/jquery.icheck.min.js') }}"></script>
    <script src="{{ asset('bundles/mrfmadmin/js/select2.min.js') }}"></script>
    <script src="{{ asset('bundles/mrfmadmin/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('bundles/mrfmadmin/js/jquery.jpanelmenu.min.js') }}"></script>
    <script src="{{ asset('bundles/mrfmadmin/js/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ asset('bundles/mrfmadmin/js/unicorn.js') }}"></script>
    <script src="{{ asset('bundles/mrfmadmin/js/unicorn.tables.js') }}"></script>


{% endblock %}