{% extends 'MaklarresursUserBundle::layout.html.twig' %}
{% set pageClass = 'customer' %}

{% block title %}Dashboard{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/maklarresursadmin/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/maklarresursadmin/css/font-awesome.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/maklarresursadmin/css/jquery-ui.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/maklarresursadmin/css/icheck/flat/blue.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/maklarresursadmin/css/select2.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/maklarresursadmin/css/unicorn.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/maklarresursadmin/css/unicorn.red.css') }}" class="skin-color" />

{% endblock %}


{% block body %}
    <div id="content">
        <div id="content-header">
            <h1>LAPPNING</h1>
        </div>
        <div id="breadcrumb">
            <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
            <a href="#" class="current">Creating Order</a>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="widget-box">

                    <div class="widget-content nopadding">
                        <table class="table table-bordered table-striped table-hover data-table">
                            <thead>
                            <tr>
                                <th>Zones</th>
                                <th>Map</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for entity in entities if entity.depth == 1 %}
                                <tr class="gradeA">
                                    <td>{{ entity.name }}</td>
                                    <td><a href="{{ path('user_zone_map', {'id': entity.id}) }}">Click to view map</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <!-- ***************** - JavaScript Starts Here - ***************** -->
    <script src="{{ asset('bundles/maklarresursadmin/js/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/maklarresursadmin/js/jquery-ui.custom.js') }}"></script>
    <script src="{{ asset('bundles/maklarresursadmin/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/maklarresursadmin/js/jquery.icheck.min.js') }}"></script>
    <script src="{{ asset('bundles/maklarresursadmin/js/select2.min.js') }}"></script>
    <script src="{{ asset('bundles/maklarresursadmin/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('bundles/maklarresursadmin/js/jquery.jpanelmenu.min.js') }}"></script>
    <script src="{{ asset('bundles/maklarresursadmin/js/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ asset('bundles/maklarresursadmin/js/unicorn.js') }}"></script>
    <script src="{{ asset('bundles/maklarresursadmin/js/unicorn.tables.js') }}"></script>


{% endblock %}