{% extends 'MaklarresursAdminBundle::layout.html.twig' %}

{% block title %}Dashboard{% endblock %}



{% block body %}
    <h3 class="box-header">CREATE USER</h3>
    <div class="box">
        <div class="row-fluid" style="margin-bottom: 20px">
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                <div class="control-group">
                    <label class="control-label" for="inputEmail">{{ form_label(form.companyName) }}</label>
                    <div class="controls">
                        {{ form_widget(form.companyName, {'attr': {'placeholder': 'Enter Company Name ', 'class': 'input-xlarge'}}) }}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputEmail">{{ form_label(form.orgNr) }}</label>
                    <div class="controls">
                        {{ form_widget(form.orgNr, {'attr': {'placeholder': 'Enter Org Nr ', 'class': 'input-xlarge'}}) }}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputEmail">{{ form_label(form.streetAddress) }}</label>
                    <div class="controls">
                        {{ form_widget(form.streetAddress, {'attr': {'placeholder': 'Enter Street Address', 'class': 'input-xlarge'}}) }}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputEmail">{{ form_label(form.billingAddress) }}</label>
                    <div class="controls">
                        {{ form_widget(form.billingAddress, {'attr': {'placeholder': 'Enter Billing Address ', 'class': 'input-xlarge'}}) }}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputEmail">{{ form_label(form.contactPerson) }}</label>
                    <div class="controls">
                        {{ form_widget(form.contactPerson, {'attr': {'placeholder': 'Enter Contact Person ', 'class': 'input-xlarge'}}) }}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputEmail">{{ form_label(form.telephoneNr) }}</label>
                    <div class="controls">
                        {{ form_widget(form.telephoneNr, {'attr': {'placeholder': 'Enter Telephone Nr ', 'class': 'input-xlarge'}}) }}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputEmail">{{ form_label(form.website) }}</label>
                    <div class="controls">
                        {{ form_widget(form.website, {'attr': {'placeholder': 'Enter Website URL ', 'class': 'input-xlarge'}}) }}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputEmail">Email</label>
                    <div class="controls">
                        {{ form_widget(form.email, {'attr': {'placeholder': 'Enter Valid Email ', 'class': 'input-xlarge'}}) }}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputEmail">Username</label>
                    <div class="controls">
                        {{ form_widget(form.username, {'attr': {'placeholder': 'Enter Username ', 'class': 'input-xlarge'}}) }}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputEmail">Password</label>
                    <div class="controls">
                        {{ form_widget(form.plainPassword.first, {'attr': {'placeholder': 'Enter Password ', 'class': 'input-xlarge'}}) }}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputEmail">Confirm Password</label>
                    <div class="controls">
                        {{ form_widget(form.plainPassword.second, {'attr': {'placeholder': 'Re-Type Password ', 'class': 'input-xlarge'}}) }}
                    </div>
                </div>



                <div class="control-group">
                    <div class="controls">
                        <button type="submit" id="next" class="btn btn-primary">CREATE</button>
                    </div>
                </div>
            {{ form_end(form) }}


        </div>

    </div>


{% endblock %}

